
div.qq{
	border:solid; 
	background-color:red;
	display: float;
	min-height: 100%;
	width:250px

	
}
p.ww{
	border:solid; 
	background-color:red;
	display: float;
	min-height: 100%;]
	width:250px
}
}padding:20PX 10PX;