* {
    padding: 0;
    margin: 0;    
    box-sizing: border-box;
}

body{
    
    color: #555;
    font-family: arial;
    background-color: #888;
}

.clear {
    clear: both;
}

h4{
    margin-top: 6px;
    margin-bottom: 6px;
}

div.profile-image{
    position: relative;
    display: inline-block;
}
div.profile-image-dropdown{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.profile-image:hover .profile-image-dropdown {
    display: block;
  }

.desc {
    padding: 15px;
    text-align: center;
    font-family: Comic Sans MS;    
}

.container {
    background-color: white;
    width: 900px;
    margin: 0 auto;
    padding: 20px 0;
}

header .profile .profile-image, header .profile .personal-info {
    float: left;
    height: 100px;
    
}

header .profile .profile-image{
    width: 190px;
    text-align: center;
}

header .profile .personal-info{
    width: 710px;
}

header .profile .personal-info h4{
    color: #888;
}
header .profile .personal-info ul{
    list-style: none;
    margin: 5px 0;
}

header .motivation{
    padding: 30px;
    font-size: 25px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 100%;;
    border: 1px solid #aaa;
}

.box-title{
    font-size: 35px;
    text-align: center; 
}

#services{
    font-family: "Times New Roman", tahoma, Verdana;
    background: #9c9c9c;
    padding: 30px;
    color: white !important;
}

#services .service-item{
    float: left;
    width: 280px;
    margin: 10px 50px;
    margin-left: 75px;
}

#services  .service-title{
    text-align: center;
    font-size: 25px;
    font-family: "Times New Roman", tahoma, Verdana;
    margin-bottom: 4px;
}
#services .service-description{
    text-align: center;
    font-size: 20px;
    font-family: "Times New Roman", tahoma, Verdana;
}

div.flot{
    float: left;
    padding: 40px 70px 40px;
    margin-left: 40px;
}

div.flot2{
    float: left;
    padding: 40px 70px 40px;
    margin-left: 40px;
}
div.active{
   font-size:40px;
   margin-top: 15px;
   color: #464545;
   font-family:tahoma; 
}

div.Inactive{
    font-size:40px;
   color: #353333;
   font-family:tahoma;
}

a.view{
    font-size:25px;
   margin:50px;
   text-decoration: none;
}

a.view2{
    font-size:25px;
    margin:50px ;
    text-decoration: none;
}

footer{
        background: #999;
        padding: 30px;
        color: white !important;

}

div.footer1{
    float: left;
    padding:30px 20px 40px 100px;
    color: rgb(44, 44, 44);
    font-size: 25px;
    font-family:tahoma;
    font-style:italic;
}
p.footer11{
    font-size: 35px;
    font-family: Comic Sans MS;
    padding: 5px 0px 10px 40px;
}
div.footer2{
    float: left;
    margin: 40px 0px 10px 170px;
   
}

p.color{
    color: rgb(44, 44, 44);
}

div.project-title{
    margin-top: 9px;
    

}

div.project-title2{
    margin-top: 10px;
    margin-bottom: 10px;
}