body{
    background-image:url(' bak.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
    }

ul {
	list-style-type: none;
	margin: 0px 0px 20px;
	padding: 0;
	overflow: hidden;
	background-color: rgb(94, 88, 88);
	font-size: 20px;
}
	  
li {
	float: left;
	font-size: 20px;
}
	  
 li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}
	  
li a:hover, .dropdown:hover .dropbtn {
	background-color: rgba(231, 66, 66, 0.89);
	font-size: 20px;
}
	  
li.dropdown {
	display: inline-block;
	font-size: 20px;
}
	  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-size: 20px;
}
	  
 .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 20px;
 }
	  
.dropdown-content a:hover {background-color: #f1f1f1;} 
.dropdown:hover .dropdown-content {
		display: block;
		font-size: 20px;
	}
	




nav{
	background-color: rgba(104, 247, 247, 0.815);
	font-size: 30px; padding: 5px;
    width: 100%; position: fixed;
    top: 0; right: 0;
	}

a.b{
	font-size:45px;
	color:#d42f2ff1;
	
}
marquee.z{
	font-family:tahoma;
	width: 70%;
	font-size:17px;
	color:#d42f2ff1;
	padding:10px;
	border:groove;
	border-width: 10px;
}
p.s{
	background-color:#e9e7e7;
	font-size:17px;
}
pre.o{
	margin:10px 20px;
}
p.w{
	font-size:20px;
}
tr.y{
	background-color:#d6d6d6;
}
ol{
	display: inline;
}		
h1{
	margin:5px;
	font-size:120px;
	color:#ce0000e3;
}
img.i{
	
	background-color:#0422a5; padding:3px; margin: 22px; box-shadow:1px 3px 35px
}
marquee{
	font-size:40px;
	}
p.pp{
	font-size:25px;
}
summary{
	font-size:55px;
	color:#ce0000e3;
}
p.pr{
	font-size:25px;
}
h2{
	font-size:45px;
	color:#ce0000e3;
}

ul.aa{
background-color: #f9f9f9;
font-size: 30px;
margin: 10px 0px 10px 30px;
padding:5px 0px 5px 30px;
}

ul.class{
	background-color: #e9e7e7;
}

ol.a1{
	background-color:#f9f9f9 ;
	
}

p.ppp{
	font-size:35px;
	color:#0a0188;
}
p.e{
	font-size:25px;
}
h3{
	font-size:45px;
	color:#ce0000e3;
}

a{
	font-size:70px;
	color:#ce0000e3;
	text-decoration: none;
}
marquee.n{
		padding:5px 0;
}
p.s1{
	font-size:40px;
	font-family:Comic sans MS;;
		
}

h4{
	font-size:50px;
	margin: 20px 0 ;
}

p.qq{
font-size:25px;

}
